In [1]:
#lists - orderd,mutable collections of itrms

In [2]:
names=["krish","Jack",]
print(names)

['krish', 'Jack']

In [3]:
mixed_list=["krsih","naik",3.2,4,True]
print(mixed_list)

['krsih', 'naik', 3.2, 4, True]

In [5]:
#accessing list elements - index starts from 0
fruits = ["Apple","Mango","Watermelon","Banana"]
print(fruits[0])

Apple

In [6]:
#modifying the list elements
fruits[1]="KELA"
print(fruits)

['Apple', 'KELA', 'Watermelon', 'Banana']

In [7]:
#list methods
#append

fruits.append("orange")
print(fruits)

['Apple', 'KELA', 'Watermelon', 'Banana', 'orange']

In [9]:
fruits.insert(1,"Gas")
print(fruits)

['Apple', 'Gas', 'Gas', 'KELA', 'Watermelon', 'Banana', 'orange']

In [11]:
fruits.remove("Gas") #removing the first occurance
print(fruits)

['Apple', 'Gas', 'KELA', 'Watermelon', 'Banana', 'orange']

In [12]:
#remove and return the last
popped = fruits.pop()
print(popped)

orange

In [15]:
index=fruits.index("Gas")
print(index)

1

In [18]:
fruits.insert(3,"orange")
print(fruits.count("orange"))
print(fruits)

2
['Apple', 'Gas', 'KELA', 'orange', 'orange', 'Watermelon', 'Banana']

In [19]:
fruits.sort()
print(fruits)

['Apple', 'Banana', 'Gas', 'KELA', 'Watermelon', 'orange', 'orange']

In [20]:
fruits.reverse()
print(fruits)

['orange', 'orange', 'Watermelon', 'KELA', 'Gas', 'Banana', 'Apple']

In [22]:
#slicing list
numbers = [1,2,3,4,5,6,7,8]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8]
[1, 3, 5, 7]

In [23]:
#iterationg over list
for num in numbers:
    print(num)

1
2
3
4
5
6
7
8

In [24]:
for index,num in enumerate(numbers):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [25]:
#list comprehension
list=[]
for x in range(10):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [31]:
#list comprehension - 2

sqaure = [num **2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [35]:
even_numbers = [num for num in range(10+1) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8, 10]

In [36]:
#nested list comprehension
list_1 = [2,4,6,8]
list_2= ['a','b','c','d']

pair =[[i,j] for i in list_1 for j in list_2]
print(pair)

[[2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [8, 'a'], [8, 'b'], [8, 'c'], [8, 'd']]