# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [2]:
#answer 1
set1 = {1,2,3,4,5,6,7,8,9,10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
set1.add(11)
print(set1)

set1.remove(1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [4]:
x = {1,2,3,4,5}
y ={2,4,6,8,10}

union = x.union(y)
inter = x.intersection(y)
diff = x.difference(y)
sym_diff = x.symmetric_difference(y)

print(union,inter,diff,sym_diff)

{1, 2, 3, 4, 5, 6, 8, 10} {2, 4} {1, 3, 5} {1, 3, 5, 6, 8, 10}

In [10]:
#answer 4 set comprehension

squares = {x**2 for x in range(0,11)}
print(squares)

{0, 1, 64, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
first = {1, 2, 3, 3, 3, 4, 5, 6, 7}
dupli = set(first)  # Ensure no variable named 'set' exists in the code
print(dupli)  # Output: {1, 2, 3, 4, 5, 6, 7}

In [12]:
even = {x for x in set1 if x%2==0}
print(even)

{2, 4, 6, 8, 10}

In [13]:
a = {1,2,3,4,5}
b ={1,2,3}
sub = a.issubset(b)
super = b.issuperset(a)

print(sub)
print(super)

False
False

In [15]:
#question 8 frozen set

frozen = frozenset(range(1,6))
print(frozen)

frozenset({1, 2, 3, 4, 5})

In [18]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

TypeError: 'set' object is not callable

In [19]:
drum = {"Drums", "Keyboard", "Guitar", "Piano"}
for x in drum:
    print(x)

Drums
Guitar
Keyboard
Piano

In [20]:
while drum:
    drum.pop()
    print(drum)

{'Guitar', 'Keyboard', 'Piano'}
{'Keyboard', 'Piano'}
{'Piano'}
set()

In [21]:
se1 = {"Pranav", "Tanishka", "Aryaman"}
se2 = {"Anmol", "Tanishka", "Pranav"}
se1.symmetric_difference_update(se2)
print(se1)

{'Aryaman', 'Anmol'}

In [23]:
anmol = ("Anmol" in se2)
print(anmol)

True

In [24]:
set_tuples = {(1,2),(3,4),(8,9)}
print(set_tuples)
print(len(set_tuples))

{(1, 2), (8, 9), (3, 4)}
3