In [1]:
#sets - built-in data type 
#unordered
#do not allow duplicate items

In [2]:
#create set 
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
#basic set operations
#adding and removing elements

my_set.add(7)
print(my_set)
my_set.remove(5)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 7}

In [5]:
#pop method
removed = my_set.pop()
print(removed)
print(my_set)

1
{2, 3, 4, 7}

In [6]:
# set membership test
my_set={1,2,3,4,5,6}
print(3 in my_set)
print(10 in my_set)

True
False

In [8]:
#mathematical operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
intersection = set1.intersection(set2)
print(intersection)

{4, 5, 6}

In [10]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6}

In [11]:
print(set1)

{4, 5, 6}

In [13]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8}
difference = set1.difference(set2)
print(difference)

difference2 = set2.difference(set1)
print(difference2)

{1, 2, 3}
{8, 7}

In [14]:
#symetric difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8}

In [18]:
#sets Method
setx = {1,2,3}
sety = {4,5,6}

print(setx.issubset(sety))
print(setx.issuperset(sety))

False
False

In [1]:
lst = [1,2,2,3,4,5,5,5,6,7]
rum = set(lst)
print(rum)

{1, 2, 3, 4, 5, 6, 7}

In [4]:
# counting unique words and sentences
test = "This Is Pranav I am a Youtuber and struggling to get views"
unique = test.split()

words = set(unique)
print(words)
print(len(words))

{'and', 'views', 'to', 'get', 'struggling', 'Pranav', 'This', 'am', 'Youtuber', 'Is', 'I', 'a'}
12