In [2]:
#creating a tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
numbers = tuple([1,2,3,4])
numbers

(1, 2, 3, 4)

In [5]:
mixed_tuple = ("pranav", 2, 4.23, "krish")
print(mixed_tuple)

('pranav', 2, 4.23, 'krish')

In [6]:
#accessing tuple elements
print(numbers[3])

4

In [7]:
cont = numbers + mixed_tuple
print(cont)

(1, 2, 3, 4, 'pranav', 2, 4.23, 'krish')

In [8]:
#immutable nature of tuples
#elements cannot be changed once inside

In [10]:
#tuple methods 
print(numbers.count(1))
print(numbers.index(3))

1
2

In [11]:
#packing and unpackng tuple
packed_tuple = 1,"hello",3.12
print(packed_tuple)

(1, 'hello', 3.12)

In [12]:
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
hello
3.12

In [15]:
#nested tuple
list = [[1,2,3,4],[4,5,6,7],[1,"Hello",3,14]]
list[0][0:3]

[1, 2, 3]

In [18]:
nested_tuple = ((1,2,3),("hello", "buenso dias", (True,False)))
#access the elements
print(nested_tuple[0])
print(nested_tuple[1][1])

(1, 2, 3)
buenso dias

In [1]:
#tupple question 1
tuple =(1,2,3,4,5,6,7,8,9,10)
print(tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
print(tuple[0])
print(tuple[-1])

1
10

In [7]:
print(tuple[:2])
print(tuple[::-1])
print(tuple[2:5:1])

(1, 2)
(7, 6, 5, 4, 3, 2, 1)
(3, 4, 5)

In [18]:
# question 4 
matrix = (
    (1,2,3),
    (3,2,1),
    (2,3,1))

for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

(1, 2, 3)
(3, 2, 1)
(2, 3, 1)
Element at second row and third column: 1

In [19]:
#question 5 tuple concatinaton
tpl1 =(1,3,5,7)
tpl2 = (2,4,6,8)
con = tpl1+tpl2
print(con)

(1, 3, 5, 7, 2, 4, 6, 8)

In [25]:
# question 6 duplicate and occurance
duplicate = (1,2,2,3,4,5,5,5,6)
five = duplicate.count(5)
occurance = duplicate.index(2)
print(five)
print(occurance)

3
1

In [26]:
#question 7 tuple unpacking

tuple_unpacking = (1,2,3,4,5)
a,b,c,d,e = tuple_unpacking
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

In [ ]:
# question 8 convert a list into tuple

listx = [1,2,3,4,5]
drum = tuple(listx)
print(drum)

In [34]:
#question 9 tuple of tuples
boss = ((1,2,3),("buenos dias", "buenas noches", "hola"),(True,False))
print(boss)

((1, 2, 3), ('buenos dias', 'buenas noches', 'hola'), (True, False))

In [35]:

#question 10 tuple to list and append 6 and then back to tuple
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
tpl2 = tuple(lst)
print(tpl2)

TypeError: 'list' object is not callable